{% extends 'base.html' %}
{% block content %}
    <ol class="list-group list-group-numbered">
        {% for ingredient in shopping_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ingredient.name}}</div>
            {{ingredient.description}}
          </div>

          {% if ingredient.is_completed %}
            <input type="checkbox" checked />
          {% else %}
            <input type="checkbox" />
          {% endif %}
        </li>
        {% endfor %}
    </ol>
{% endblock content %}